<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CCFC Data Analysis</title>
        <script src='/static/js/jquery-3.7.1.min.js'></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <style></style>
    </head>
    <body>
        {% include "header.html" %}
        <center>
            <h1>Team Comparison</h1>
        </center>
            <div></div><br>
            <form class="filter" id="filter" method="POST" action="/filters" enctype="multipart/form-data">
                <left>
                    <label for="team1">Bournemouth </label><br>
                    <input class="team" type="checkbox" id="team1" name="team1" value="Bournemouth">
                </left>
                <right>
                    <input class="stat" type="checkbox" id="stat1" name="stat1" value="Distance"><br>
                    <label for="stat1"> Distance</label>
                </right>

                <br>

                <left>
                    <label for="team2">Reading </label><br>
                    <input class="team" type="checkbox" id="team2" name="team2" value="Reading">
                </left>
                <right>
                    <input class="stat" type="checkbox" id="stat2" name="stat2" value="HSR"><br>
                    <label for="stat2"> HSR</label>
                </right>

                <br>

                <left>
                    <label for="team3">Middlesbrough </label><br>
                    <input class="team" type="checkbox" id="team3" name="team3" value="Middlesbrough">
                </left>
                <right>
                    <input class="stat" type="checkbox" id="stat3" name="stat3" value="Sprints"><br>
                    <label for="stat3"> Sprints</label>
                </right>

                <br>
                
                
            </form>
            <div id="img"></div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>