<!-- <div id='logo' class="w-50 z-3 pe-none pl-5 pt-3">
    <img style="max-width: 100px;" class='img z-0 w-25 position-relative z-3' src="./static/images/ccfci.png">
</div> -->

<nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
    <div class="container-fluid">
        <a style="transform: translateX(100px);" href="/" class="navbar-brand position-relative"><img
                class="img-fluid w-50" src="./static/images/ccfci.png" alt=""></a>
        <div class="d-flex flex-row">
            <a href="/" class="navbar-brand"><img class="img-fluid w-50" src="../Images/logo_white.png" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse px-5 data-mdb-smooth-scroll-init" id="navmenu">
            <ul class="navbar-nav ms-auto lead">
                <ul class="navbar-nav ms-auto lead">
                    <li class="nav-item px-5 ">
                        <a href="/" class="nav-link">Home</a>
                    </li>

                    <li class="nav-item px-5 ">
                        <a href="/predictor" class="nav-link">Predictor</a>
                    </li>

                    <li class="nav-item px-5 ">
                        <a href="/comparison" class="nav-link">Compare</a>
                    </li>

                    <li class="nav-item px-5 ">
                        <a href="/sustainability" class="nav-link">Sustainability</a>
                    </li>

                    <li class="nav-item px-5 ">
                        <a href="/fixtures" class="nav-link">Past Fixtures</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>