<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CCFC Data Analysis</title>
        <script src='/static/js/jquery-3.7.1.min.js'></script>
        <link rel="stylesheet" href="/static/css/index.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    </head>
    <body>
        <center>
            <h1>Coventry City FC</h1>
            <h2>Data Analysis</h2>
            <div></div><br>
            <p>{{ name }}</p>

            <img src={{ url }} alt="Chart" height="auto" width="auto">
            <div id="img"></div>
        </center>
    </body>
</html>
