<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCFC Data Analysis</title>
    <script src='/static/js/jquery-3.7.1.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        #pred {
            color: #059DD9 !important;
        }
    </style>
</head>

<body class="bg-dark text-light">
    {% include "header.html" %}
    <div class="container-fluid text-center mt-5">
        <div class="title">
            <h1>Match Win Predictor</h1>
        </div>


        <form class="predict" id="predict" method="POST" onsubmit="submitForm()" action="/predict"
            enctype="multipart/form-data">

            <div class="d-flex flex-row w-50 mx-auto justify-content-between py-3">
                <div class="container-fluid px-5">
                    <label for="opposition">Opposition</label>

                    <select class='form-control bg-dark text-light mt-2 text-center' name="opposition" required>
                        <option value="AFC Bournemouth">AFC Bournemouth</option>
                        <option value="Barnsley">Barnsley</option>
                        <option value="Birmingham City">Birmingham City</option>
                        <option value="Blackburn Rovers">Blackburn Rovers</option>
                        <option value="Blackpool">Blackpool</option>
                        <option value="Brentford">Brentford</option>
                        <option value="Bristol City">Bristol City</option>
                        <option value="Burnley">Burnley</option>
                        <option value="Cardiff City">Cardiff City</option>
                        <option value="Derby County">Derby County</option>
                        <option value="Fulham">Fulham</option>
                        <option value="Huddersfield Town">Huddersfield Town</option>
                        <option value="Hull City">Hull City</option>
                        <option value="Ipswich Town">Ipswich Town</option>
                        <option value="Leeds United">Leeds United</option>
                        <option value="Leicester City">Leicester City</option>
                        <option value="Luton Town">Luton Town</option>
                        <option value="Middlesbrough">Middlesbrough</option>
                        <option value="Millwall">Millwall</option>
                        <option value="Norwich City">Norwich City</option>
                        <option value="Nottingham Forest">Nottingham Forest</option>
                        <option value="Peterborough United">Peterborough United</option>
                        <option value="Plymouth Argyle">Plymouth Argyle</option>
                        <option value="Preston North End">Preston North End</option>
                        <option value="Queens Park Rangers">Queens Park Rangers</option>
                        <option value="Reading">Reading</option>
                        <option value="Rotherham United">Rotherham United</option>
                        <option value="Sheffield United">Sheffield United</option>
                        <option value="Sheffield Wednesday">Sheffield Wednesday</option>
                        <option value="Southampton">Southampton</option>
                        <option value="Stoke City">Stoke City</option>
                        <option value="Sunderland">Sunderland</option>
                        <option value="Swansea City">Swansea City</option>
                        <option value="Watford">Watford</option>
                        <option value="West Bromwich Albion">West Bromwich Albion</option>
                        <option value="Wigan Athletic">Wigan Athletic</option>
                        <option value="Wycombe Wanderers">Wycombe Wanderers</option>
                    </select>
                </div>

                <div class="container-fluid d-flex flex-row text-center justify-content-around my-auto py-0">
                    <div class="d-flex flex-column-reverse">
                        <input class='bg-dark' id="Home" name="place" value="home" type="radio" required checked>
                        <label class='bg-dark' for="Home">Home</label>
                    </div>
                    <div class="d-flex flex-column-reverse">
                        <input class='bg-dark ' id="Away" name="place" value="away" type="radio" required>
                        <label class='bg-dark' for="Away">Away</label>
                    </div>

                </div>
            </div>




            <!-- <div class="h2">Team Selection</div> -->
            <div class="container w-50 pt-3 mb-5">
                <div class="row py-5">
                    <div class="col-4"></div>
                    <div class="col-4 d-flex flex-column">
                        <label for="p1">Player 1</label>
                        <input class="rounded player bg-dark border border-light text-light w-50 mx-auto" name="p1"
                            value=3061 type="number" min="3000" max="8000" step="1">
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-3 d-flex flex-column">
                        <label for="p2">Player 2</label>
                        <input value=3299 class="rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p2" type="number" min="3000" max="8000" step="1">
                    </div>
                    <div class="col-3 d-flex flex-column">
                        <label for="p3">Player 3</label>
                        <input value=3317 class="rounded  player bg-dark border border-light text-light w-50 mx-auto"
                            name="p3" type="number" min="3000" max="8000" step="1">
                    </div>
                    <div class="col-3 d-flex flex-column">
                        <label for="p4">Player 4</label>
                        <input value=3355 class="rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p4" type="number" min="3000" max="8000" step="1">
                    </div>
                    <div class="col-3 d-flex flex-column">
                        <label for="p5">Player 5</label>
                        <input value=3386 class="rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p5" type="number" min="3000" max="8000" step="1">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-3 d-flex flex-column">
                        <label for="p6">Player 6</label>
                        <input value=3743 class=" rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p6" type="number" min="3000" max="8000" step="1">
                    </div>
                    <div class="col-3 d-flex flex-column">
                        <label for="p7">Player 7</label>
                        <input value=4179 class=" rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p7" type="number" min="3000" max="8000" step="1">
                    </div>
                    <div class="col-3 d-flex flex-column">
                        <label for="p8">Player 8</label>
                        <input value=7847 class="rounded  player bg-dark border border-light text-light w-50 mx-auto"
                            name="p8" type="number" min="3000" max="8000" step="1">
                    </div>

                    <div class="col-3 d-flex flex-column">
                        <label for="p9">Player 9</label>
                        <input value=4365 class="rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p9" type="number" min="3000" max="8000" step="1">
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-3"></div>
                    <div class="col-3 d-flex flex-column">
                        <label for="p10">Player 10</label>
                        <input value=4576 class="rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p10" type="number" min="3000" max="8000" step="1">
                    </div>

                    <div class="col-3 d-flex flex-column">
                        <label for="p11">Player 11</label>
                        <input value=7537 class="rounded player bg-dark border border-light text-light w-50 mx-auto"
                            name="p11" type="number" min="3000" max="8000" step="1">
                    </div>
                </div>
            </div>


            <input class='p-3 rounded mb-5 bg-dark border-light text-light' id="send" type="submit"
                value="Get Prediction">
    </div>


    </form>

    <div id="img"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    </div>

    <script>
        function submitForm() {
            const inputs = Array.from(document.querySelectorAll(' .player')).map(input => input.value);
            const hiddenInput = document.createElement('input');
            hiddenInput.type = "hidden";
            hiddenInput.name = "inputList";
            hiddenInput.value = JSON.stringify(inputs);
            document.getElementById('predict').appendChild(hiddenInput);
        }
    </script>
</body>

</html>